<IfModule mod_rewrite.c>
    Options -MultiViews -Indexes
    RewriteEngine On

    # Redirection des slashes finaux
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Gestion de l'en-tête Authorization
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Si ce n'est pas un fichier ou un dossier, on envoie à index.php (front controller Symfony)
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
</IfModule>